/*WORKOUT FORM */

.workout-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-group {
  margin-bottom: 10px; 
  width: 100%;
  max-width: 300px; 
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}



.small-button {
  width: 100px;
  height: 40px;
}
